<?xml version="1.0"?>
<config>
    <modules>
        <LCB_BasicAuthentication>
            <version>1.1.1</version>
        </LCB_BasicAuthentication>
    </modules>
    <global>
        <helpers>
            <lcb_basic_authentication>
                <class>LCB_BasicAuthentication_Helper</class>
            </lcb_basic_authentication>
        </helpers>
        <models>
            <lcb_basic_authentication>
                <class>LCB_BasicAuthentication_Model</class>
            </lcb_basic_authentication>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <lcb_basic_authentication_controller_action_predispatch>
                        <class>lcb_basic_authentication/observer</class>
                        <method>checkBasicAuthentication</method>
                    </lcb_basic_authentication_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <fpc_helper_collect_params>
                <observers>
                    <lcb_basic_authentication_fpc_helper_collect_params>
                        <class>lcb_basic_authentication/observer</class>
                        <method>onFpcCollectParams</method>
                    </lcb_basic_authentication_fpc_helper_collect_params>
                </observers>
            </fpc_helper_collect_params>
        </events>
    </global>
</config>
